<div>
  <button class="button button1">Announcement</button>
  <p>How we are responding to Covid 19</p>
</div>
<div class="topnav">
  <a href="#home">Home</a>
  <a href="#about">About</a>
  <a href="#shop">Shop</a>
  <a href="#about">Donate</a>
  <a href="#contact">Contact</a>
</div>
<img src="https://github.com/somy123/AngularRepo/blob/master/src/Assets/img1.jpeg">
<div class="fcontainer">
  <div class="fitem-1">

    <p>WAYS TO SUPPORT 
    
   
    <h1>Support Acme outdoors</h1>
  </div>
  <div class="fitem-2">
    <p>
      COVID-19 has forced us to close our retail space, but we need support from
      patrons like yourself now more than ever. Below, we’ve listed the best
      ways to help us through this season.
    </p>
  </div>
</div>
<div class="f1container">
  <div class="f1">
    <h1>Product1
    </h1>
  </div>
  <div class="f2">
    <h1>Product2
    </h1>

  </div>
  <div class="f3">
    <h1>Product3
    </h1>

  </div>
</div>
<div class="f2container">
<div class="f11">
  <p>
  Our full product line is still available online here on our site! Getting outside and hiking is still something you can do. Get your gear now!
  </p>
</div>
<div class="f12">
  <p>
  Since we've changed the way we operate to online only, and to ensure your safety, not all our staff is working. Donate to keep them afloat.
  </p>
</div>
<div class="f13">
  <p>
  Have all the outdoor gear you need for now? Buy a gift card and use it later or share it with friends and family. 
  </p>
</div>
</div>
<div class="b1">
<button class="button button3">View All Products</button>
</div>
<div class="last">
  <h1>Shop Local</h1><br>
  
  <p>That said: we know that we love making sure you have the gear you need for your adventures, and we’re going to keep doing that - with our team - until the city tells us we can’t.<br>
    But as long as folks like yourself support small businesses around the city, then we’ll be here — every day, making sure your orders arrive on time.
    <br>
    We know that during COVID-19, a lot of folks around the city and state are feeling uneasy about the future - we’re not sure what the future holds either.

  </p>
</div>

<footer>
  <p>Made In <a href="webflow">webflow</a>.@ 2020</p>
</footer>
<p></p>
